
/*---------------------------------------Responsive---------------------------------------*/
@media only screen and (min-width: 1201px) {}
@media only screen and (max-width: 1200px) {

	.nav-horizontal-content ul.nav-ul-lv-1>li>a{
		font-size: 13px;
		font-weight: 300;
	}
	.nav-horizontal-search form{
		margin-bottom: 0;
	}
	.nav-horizontal-search form input{
		width: 110px;
	}
	.nav-horizontal-search-active{
		width: 200px;
	}
	.nav-horizontal-search form button{
		width: 35px;
		right: 10px;
		top: -1.5px
	}
	.nav-horizontal-search form button i{
		font-size: 13px;
	}

}
@media only screen and (max-width: 992px) {
	.container {
	    max-width: 932px;
	}
}
@media only screen and (max-width: 930px) {

	.nav-horizontal-search{
	    margin-top: 7px;
    	margin-right: 60px;
	}

}
@media only screen and (max-width: 888px) {

}
@media only screen and (max-width: 830px) {

	.nav-horizontal-container{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.nav-horizontal-content-active,.nav-horizontal-content-active-1{
		/* top: 20px; */
	}
	.nav-horizontal-container-active,.nav-horizontal-container-active-1{
		padding-top: 5px;
		padding-bottom: 5px;
    }
    nav.nav-horizontal-active-2{
        /* height: 90px; */
    }
    .logo {
        margin-left: 20px;
    }
}



@media only screen and (max-width: 780px) {

}
@media only screen and (max-width: 767px) {
    .nav-horizontal-content ul.nav-ul-lv-1{
		display: none;
	}
	.menu-mobile-button{
		display: block;
    }
    .link-bot{
        padding: 10px;
        padding-left: 40px;
    }
}
@media only screen and (max-width: 687px) {

}
@media only screen and (max-width: 680px) {

}

@media only screen and (max-width: 580px) {

}
@media only screen and (max-width: 576px) {
    .footer-head h4{
        display: none;
    }
    .hihi{
        justify-content: center !important;
    }
    nav.nav-horizontal-active-2{
        top: 10px !important;
    }

}
@media only screen and (max-width: 475px) {

}
@media only screen and (max-width: 440px) {
    .link-bot{
        padding: 10px;
        padding-left: 20px;
	}
	.h-banner-top .h-banner-top-text > div:first-child{
		font-size: 31px !important;
	}
	.h-banner-top .h-banner-top-text > div:last-child {
		font-size: 25px !important;
	}
	.h-category-title , .h-speak-title ,.h-feel-title{
		font-size: 35px !important;
		padding: 10px 0 !important	;
	}
	.h-banner-bottom-text-member > div:first-child {
		font-size: 35px !important;
	}
	.h-category {
		padding: 10px 0 !important;
	}
	.h-sign-in-title{
		font-size: 24px;
	}
	.h-about-content > div:first-child {
		font-size: 30px;
	}
	.h-about{
		padding: 10px 0 !important;
	}
	.h-speak ,.h-feel{
		padding: 10px 0 !important;
	}
	.h-feel-more a{
		font-size: 12px !important;
	}

}
@media only screen and (max-width: 332px) {
	.nav-horizontal-search form input{
		width: 90px;
	}
	.nav-horizontal-search-active{
		width: 176px;
    }
}
